#myBody {
  width:100%;
  height:100%;
    
  }
  
  p {
    font-family: Georgia, "Times New Roman", Times, serif; 
    font-size: 14px;
}

div {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
}


    .styleText {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1px;
        color: #009f48;
      }
   
  
  .styleText1 {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: #f9fd07;
  }

  .styleText2 {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    color: #d80606;
  }
    
 
#search {
  height:125px;
  overflow:hidden;
}
.search-wrapper {
  width:465px;
  height:45px;
  background-color:#f0f0f0;
  margin:43px auto 0;
  border:1px solid #e9e9e9;
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4 */
  border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
  position:relative;
}
.search-box {
  width:375px;
  height:32px;
  background-color:#fff;
  margin:5px 7px;
  border:1px solid #cfcfcf;
  -moz-border-radius: 5px; /* FF1+ */
  -webkit-border-radius: 5px; /* Saf3-4 */
  border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
  position:relative;
}
.search-box img.search-icon2 {
  margin:8px 0 0 5px;
}
.search-box input {
  border:none;
  height:30px;
  width:332px;
  margin:0;
  position:absolute;
  font-size:16px;
  padding-left:5px;
  padding-right:5px;
}

input.submit-button {
  background:url(https://storage.cloud.google.com/saer/GLOBAL%20PHARMA%20SERVICES/images/bouton%20valider.png) no-repeat;
  text-indent:-9999px;
  border:none;
  height:32px;
  width:68px;
  position:absolute;
  top:6px;
  left:390px;
  cursor:pointer;
 right:15px;
}
  
 

#main{

  max-width:1280px;
  
  min-height:100%;
  
  margin:0 auto;
  
  position:relative;
  
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
    background-color: #427032;
}
    
li {
  float: left;
} 

    li a {
      display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  a {
    text-decoration: none;
} 

  li a:hover {
    background-color: #427032;
}

.active {
  background-color: black;
}

li {
  border-right: 2cm solid none;
}


li:last-child {
  border-right: none;
}
   
ul {
  top: 2;
  width: 100%;
}  


.flotte {
  float:left;
  margin-right: 9px;
  }


.box {
    border: 0.1em solid;
    overflow: hidden
}

.row {
  display: flex;
}

.col {
  flex: 1; 
  padding: 1em;
  border: solid;
}
.form-style-5{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #427032;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #427032;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #427032;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #427032;
}

img:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  }

    .pied {
      color:white;
      overflow:hidden;
      margin : 0px auto 0px auto;
      width:100%;
      height:auto;
      top:0px;
      bottom:0px;
      background-color:black;
      clear:both;
      margin : 0;
      border:none;
     
    } 

    h4 {
      margin: 0;
      padding: 20px 0;
      color: #00539F;
    }
